.header {
    display: flex;
}

.header__img {
    width: 10%;
}

.header__nav {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding-right: 5%;
}

.header__nav__item--underline {
    text-decoration: none;
    color: #222;
    position: relative;
    white-space: nowrap;
    border-bottom: 2px solid black;
}


.header__nav__item {
    text-decoration: none;
    color: #222;
    position: relative;
    white-space: nowrap;
}


a.header__nav__item:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-bottom: 2px solid black;
    transition: width 0.3s ease;
}

a.header__nav__item:hover:after {
    left: 0;
    width: 100%;
    transition: width .3s ease;
}


@media only screen and (min-width: 400px) and (max-width: 600px) {
    .header__nav__item {
        font-size: 140%;
    }
    .header__nav__item--underline {
        font-size: 140%;
    }
    .header__nav {
        width: 80%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px){
    .header__nav__item {
        font-size: 100%;
    }
    .header__nav {
        width: 80%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 900px){
    .header__nav__item {
        font-size: 100%;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1024px){
    .header__nav__item {
        font-size: 100%;
    }
    .header__nav__item--underline {
        font-size: 100%;
    }
}


@media only screen and (min-width: 1024px) {
    .header__nav__item {
        font-size: 100%;
    }
    .header__nav__item--underline {
        font-size: 100%;
    }
}

@media only screen and (max-device-width: 480px) {
    .header__nav__item {
        font-size: 180%;
    }
    .header__nav__item--underline {
        font-size: 180%;
    }
    .header__nav {
        width: 70%;
    }
    .header__img {
        width: 20%;
    }
}