.lab-title {
    text-align: center;
}

.lab-item-content {
    display: flex;
    justify-content: space-around;
}

.lab-item-content__lab-list {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.lab-item-content__lab-list__img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin: 10px;
}

.lab-item-content__img {
    width: 650px;
    height: 650px;
    border-radius: 20px;
    margin: 20px;
}

.lab-item-content__description__title {
    font-weight: bolder;
}