.search-bar {
    display: block;
    background-color: #FFCDCD;
    border-radius: 30px;
    padding: 10px 10px 10px 20px;
    border: none;
    margin: 2em auto;
    width: 22%;
    font-size: 17px;
}

.search-bar:focus {
    display: block;
    background-color: #FFCDCD;
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    border: none;
    margin: 2em auto;
    width: 22%;
    font-size: 17px;
}

@media only screen and (max-device-width: 480px) {
    .search-bar {
        width: 60%;
        font-size: 40px;
    }
    .search-bar:focus {
        width: 60%;
        font-size: 40px;
    }
}